
@font-face {
    font-family: 'comboregular';
    src: url('../fonts/combo-regular-webfont.eot');
    src: url('../fonts/combo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/combo-regular-webfont.woff2') format('woff2'),
         url('../fonts/combo-regular-webfont.woff') format('woff'),
         url('../fonts/combo-regular-webfont.ttf') format('truetype'),
         url('../fonts/combo-regular-webfont.svg#comboregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
  font-family: 'Raleway', sans-serif;
}

html {
  background: url(../images/andre_background-1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  text-align: center;
}

header h2 {
  margin-top: 10px;
  font-family: "comboregular";
  font-size: 50px;
}

header img {
  height: 90px;
  width: 90px;
  position: relative;
  top: 25px;
  left: 15px;
}

h1,h2{
  color: #fff;
}

table {
  margin-left:auto;
  margin-right:auto;
  position: relative;
  top: -410px;
  box-shadow: 0px 5px 10px;
}


td {
  height: 110px;
  width: 110px;
  margin: 0;
  padding: 0;
  border: 5px solid #f1c40f;
  background: #dd1021 no-repeat url(../images/McDonalds_golden_arch.png) center;
  background-size: contain;
  transition: all 0.5s ease;

}

td:hover {
 -moz-box-shadow:    inset 0 0 10px #fff;
 -webkit-box-shadow: inset 0 0 10px #fff;
 box-shadow:         inset 0 0 10px #fff;
}

.flipped {
  background-color: #fff;
  transform: rotateY( -180deg );
}

.menu {
  position: relative;
  top:80px;
  left: 35px;
  width: 200px;
}


.button, .alt-button {
  margin-bottom: 5px;
  display: block;
}

.scoreBoard {
  position: absolute;
  top: 145px;
  right: 0;
  float: right;
  margin-right: 50px;
}

.scoreBoard h1 {
  font-size: 45px;
  padding-left: 60px;
  margin-bottom: 5px;
}

div.times > table {
  margin: 0;
  position: relative;
  top: 10px;
  left: 0px;
  border-collapse: collapse;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #f1c40f;
  box-shadow: none;
}

div.times  td {
  height: 75px;
  width: 300px;
  margin: 0;
  padding: 0;
  border: 7px solid #A36024;
  box-shadow: none;
  background: none;
}

.title {
  font-family: 'comboregular';
}

.rules {
  height: 530px;
  text-shadow: 0px 1px 4px #000;
  width: 700px;
  margin: 0 auto;
  position: relative;
  top: -400px;
  background: url(../images/popbg.jpg);
  background-size: contain;
  border: 5px solid #ffc300;
  box-shadow: 0px 3px 20px #000;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
  font-size: 21px;
  border-radius: 20px;
}

.rules h2 {
  font-family: "comboregular";
  color: #ffc300
}

.start {
  position:relative;
  left:40%;
}

.start, .button, .alt-button {
  cursor: pointer;
  padding:15px;
	width:150px;
  margin: 15px 0px;
  border-radius: 10px;
  font-weight: bold;
  outline: none;
  color: #ffc300;
  font-size: 20px;
  transition: margin-top 0.3s ease,
				margin-left 0.3s ease,
				box-shadow 0.3s ease;

	background:#F44336;
	border: solid 1px #7F0913;

  	box-shadow: 1px 0px 0px #7F0913,0px 1px 0px #7F0913,
  				2px 1px 0px #7F0913,1px 2px 0px #7F0913,
  				3px 2px 0px #7F0913,2px 3px 0px #7F0913,
  				4px 3px 0px #7F0913,3px 4px 0px #7F0913,
  				5px 4px 0px #7F0913,4px 5px 0px #7F0913,
  				6px 5px 0px #7F0913,5px 6px 0px #7F0913,
  				7px 6px 0px #7F0913,6px 7px 0px #7F0913,
  				8px 7px 0px #7F0913,7px 8px 0px #7F0913,
  				9px 8px 0px #7F0913,8px 9px 0px #7F0913;
	}

.start:active, .button:active, .alt-button:active {
  transition: margin-top 0.3s ease,
        margin-left 0.3s ease,
        box-shadow 0.3s ease;

  margin-left:-10px;
  margin-top:10px;

  box-shadow: 0px 0px 0px #7F0913;
}

.results {
  display: none;
}

.results > h2 {
  text-align: center;
  font-size: 50px;
  margin: 0;
}

.stats {
  padding-top: 35px;
}

.left .start, .right .start {
  margin: 0;
  left: auto;
}

.left h2, .right h2{
  margin: 0 0 15px 0;
  font-size: 35px;
}

.left img {
  width: 70%;
}
.left {
  float: left;
  width: 50%;
  border-right: 1px solid #fff;
  padding-left: 5px;
  text-align: center;
  box-sizing: border-box;
}

.right {
  float: right;
  width: 50%;
  text-align: center;
  border-left: 1px solid #fff;
  padding-right: 5px;
  box-sizing: border-box;
}

.stat-time {
  font-size: 138px;
  font-family: "comboregular";
  margin: 28px 0 20px 0;
}

.small {
  font-size: 0.7em;
}

#download {
  cursor: default;
}
.start a {
  text-decoration: none;
  text-shadow: none;
  color: #ffc300;
}

.left .msg {
  color: #fff;
  margin: 46px 0;
}

.alt-button {
  background:#ffc300;
  color: #dd1021;
}
/*red #dd1021
yellow #ffc300*/
