table{
  /*border-collapse: collapse;*/
}


td {
  height: 140px;
  width: 140px;
  margin: 0;
  padding: 0;
  border: 5px solid grey;
  background: #dd1021 no-repeat url(../images/McDonalds_golden_arch.png) center;
  background-size: contain;
}

.flipped, .matching {
  background-color: #fff;
  border-color: #ffc300;
}
